#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 800px;
}

.keyTakeaway {
    border: 5px dashed #FFD700;
    padding: 10px;
    margin: 10px;
}

.takeawaytitle {
    font-size: 32px;
    color: black;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

#root {
    margin-left: 400px;
    margin-right: 400px;
}
#slopes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

#slopes h2 {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

#sliders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

.math {
    font-size: 26px;
}