#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 800px;
}

#slopes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

#slopes h2 {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

#sliders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}